body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    font-size: 15px;
}

.data{
    font-size: 40px;
    color: white;
    margin-left: 30%;
    margin-top: 5%;
}

label{
    margin: 20px;
}
input{
    margin: 20px;
}

a{
    margin: 40px;
    font-size: 20px;
    color: white;
}

button{
    left: 80px;
    height: 50px;
}

button:hover{
    background-color: gray;
}

.watchlist{
    font-size: 40px;
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

.watchlist button{
    font-size: 20px;
    margin-left: 1em;
}

.watchlist button:hover{
    background-color: gray;
}

.watchlist #search_name{
    font-size: 30px;

}

/* input:valid{
    outline-color: var(--clr-success);
}
input:invalid{
    outline-color: var(--clr-error);
} */