<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>all users</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <button type="button" onclick="get_all_data()">get_data</button>
        <button type="button" onclick="logout()">Logout</button>
        <div>
            {% if data %}
                {% for d in data %}
                    <h2>{{ d.u_name }} --- {{ d.u_password }}</h2>
                {% endfor%}
            {% else %}
                <h2>No data found</h2>
            {% endif %}
        </div>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>