<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>welcome {{data.u_name}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Home page</h1>
        <div class="data">
            <p>{{data.u_name}}</p>
            <p>{{data.u_password}}</p>
            <button type="button" onclick="logout()">logout</button>
            <a href="{{data.u_name}}/delete_account">delete account page</a>
            <a href="/{{data.u_name}}/profile">Profile</a>
        </div>
        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>