{% extends 'base.html' %}
{% block title %} User Profile {% endblock title%}

{% block body %}
    <h1>User Profile</h1>
    <div>
        <form method="POST">
            <label for="username">Username</label>
            <input type="text" name="u_name" value="{{data.u_name}}"><br>
            <label for="password">password</label>
            <input type="text" name="u_password" value="{{data.u_password}}"><br>
            <button type="submit">Update</button>
        </form>
    </div>
    <button type="button" onclick="home('{{data.id}}')">home</button>
{% endblock body %}