<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>test</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Test env</h1>
        <form method="POST">
            <label for="name">Username</label>
            <input type="text" name="username"><br>
            <label for="password">password</label>
            <input type="text" name="password">
            <label for="file">password</label>
            <input type="file" name="file">
            <button type="submit">submit</button>
        </form>
        <button type="button" onclick="data()">data</button>
        <!-- <button type="button" onclick="data()">data</button>
        {% if name %}
            <h2 id="u_name">username : {{name}}</h2>
        {% else %}
            <h2>Please login</h2>
        {% endif %}
        <input type="file"> -->
        <script src="{{url_for('static', filename='index_test.js')}}"></script>
    </body>
</html>